.search {
  background-color: #1b1c1d;
  border: 1px solid #323334;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  position: relative;

  .icon-wrapper {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-45%)
  }

  input {
    height: 40px;
    background-color: transparent;
    padding: 0 20px 0 40px;
    width: 100%;
    color: var(--brand-white);
    font-weight: 300;
    font-size: 15px;
  }

  &:hover .keyboard-guide {
    opacity: 1;
  }

  .keyboard-guide {
    opacity: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    border: 1px solid #323334;
    user-select: none;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 4px;
    color: var(--brand-gray);
    transform: translateY(-50%);
    transition: opacity 250ms ease;
  }
}