.card {
  transition: background-color 200ms ease, transform 100ms ease;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #222525;
  }

  &:active {
    transform: scale(.995);
  }

  &:not(:last-of-type) {
    &::after {
      content:'';
      bottom: -8px;
      position: absolute;
      inset-inline: 0;
      height: 1px;
      background-color:#323334;
    }
  }


  .card-header {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--brand-gray);
    font-size: 13px;

    button {
      background-color: transparent;
      color: var(--brand-gray);
      cursor: pointer;
      transition: color 200ms ease, transform 100ms ease;

      &:hover {
        color: #c8c8c8;
      }
    }

    .card-header-interno {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .card-name {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card-main {
    font-size: 15px;
    display: flex;
    justify-content: space-between;

    .card-main-interno {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    p {
      line-height: 20px;
      font-weight: 500;
      max-height: 40px;
      max-width: 236px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .card-info {
      font-size: 11px;
      line-height: 20px;
      color: var(--brand-gray);

      span {
        text-wrap: nowrap;
      }
    }

    img {
      border-radius: 8px;
      width: 92px;
      height: 50px;
      object-fit: cover;
      aspect-ratio: 1.91;
      object-position: center;
    }
  }
}