.menu {
  position: fixed;
  top: auto;
  left: 20px;
  bottom: 0;
  padding-top: 30px;

  width: 232px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list {
    display: grid;
    gap: 8px;

    .logo-container {
      color: var(--brand-orange);
      cursor: pointer;
    }

    .list-item.logo-item {
      padding: 10px 10px 5px 10px;
      width: max-content;
    }

    .list-item.create-item {
      padding: 0;

      &:hover {
        background-color: initial;
        cursor: default;
      }

      .menu-button {
        margin-top: 12px;
        border: none;
        outline: none;
        background-color: var(--brand-orange);
        color: #fff;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 200ms ease;

        &:hover {
          background-color: #f36c23;
        }
      }
    }

    .profile-img {
      max-width: 24px;
      max-height: 24px;
      border-radius: 100%;
    }
  }

  .list-item {
    display: flex;
    align-items: center;
    color: var(--brand-gray);
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    border: none;
    gap: 16px;
    padding: 14px 12px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 200ms ease, transform 200ms ease;

    &:hover {
      background-color: #1B1C1D;
    }

    &:active {
      transform: scale(.98);
    }
  }

  .more-item {
    margin-block: 12px;
    background-color: transparent;
  }
}