.post-subscribe-button {
  user-select: none;
  background-color: transparent;
  color: var(--brand-orange);
  font-weight: 600;
  height: 28px;
  font-size: 13px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-inline: 6px;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease, transform 100ms ease;

  input {
    display: none;
  }

  &:hover {
    background-color: #4A2515;
    color: #FF7C1E;
  }

  &:active {
    transform: scale(.96);
  }
}

/* subscribed style */
.post-subscribe-button.subscribed {
  color: var(--brand-gray);

  &:hover {
    background-color: transparent;
    color: var(--brand-white);
  }
}