.suggestion-card {
  background-color: #1b1c1d;
  border: 1px solid #323334;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  position: relative;
  transition: transform 100ms ease;

  width: 176px;
  height: 234px;

  &:active {
    transform: scale(.99);
  }

  .suggestion-card-close-btn {
    background-color: transparent;
    color: inherit;
    position: absolute;
    height: 32px;
    width: 32px;
    transition: background-color 200ms ease;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    right: 7px;
    top: 7px;

    &:hover {
      background-color: #222525;
    }
  }

  .suggestion-card-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }


  .suggestion-card-interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    .suggestion-card-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      .suggestion-card-name-wrapper {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 13px;
        font-weight: 600;

        .suggestion-card-name {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .suggestion-card-description {
        font-size: 11px;
        font-weight: 300;
        color: #777;
      }
    }
    


    .suggestion-card-follow {
      background-color: var(--brand-orange);
      color: var(--brand-white);
      font-weight: 600;
      font-size: 13px;
      width: 100%;
      height: 32px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 200ms ease;

      &:hover {
        background-color: #f36c23;
      }
    }

    .suggestion-card-follow.following {
      background-color: #363737;
      color: var(--brand-gray);

      &:hover {
        background-color: #363737;
      }
    }
  }
}