.post {
  padding-block: 20px;
  color: var(--brand-white);
  font-size: 15px;
  font-weight: 300;
  display: flex;
  gap: 12px;
  cursor: pointer;

  &:not(:last-of-type) {
    border-bottom: 1px solid #333;
  }

  .post-interno {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
  }

  .profile-picture {
    max-width: 36px;
    max-height: 36px;
    border-radius: 100%;
    margin-top: 4px;
  }

  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-header-interno {
      display: flex;
      gap: 12px;

      .post-author {
        display: flex;
        align-items: center;

        .post-author-name-container {
          display: flex;
          align-items: center;
          gap: 12px;

          .post-author-name-wrapper {
            display: flex;
            align-items: center;
            gap: 4px;
          }

          .post-author-name {
            font-weight: 500;
            cursor: pointer;
            width: max-content;
            line-height: 21px;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .post-meta-date {
          font-size: 13px;
          color: var(--brand-gray);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }

    .post-header-interno-2 {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .post-options-icon {
      cursor: pointer;
    }
  }

  .post-main {
    .post-image-container {
      margin-top: 12px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .post-image-container img {
      border-radius: 12px;
      height: auto;
      max-width: 100%;
      max-height: 420px;
      object-fit: contain;
      transition: filter 200ms ease, transform 300ms ease;
      cursor: zoom-in;

      &:hover {
        filter: brightness(.80);
      }

      &:active {
        transform: scale(.99);
      }
    }
  }

  .post-footer {
    display: flex;
    gap: 4px;
    margin-left: -8px;

    .button-post-liked {
      color: #FE4850;

      &:hover {
        background-color: #452223;
        color: #FE4850;
      }
    }

    .restack-icon-svg {
      transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: rotate(0deg);
    }

    .button-post-restacked {
      color: #00C776 !important;

      .restack-icon-svg {
        transform: rotate(180deg);
      }

      &:hover {
        background-color: #053A2B;
      }
    }

    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: var(--brand-gray);
      font-size: 13px;
      gap: 8px;
      font-weight: 300;
      padding: 8px;
      cursor: pointer;
      border-radius: 999px;
      transition: color 200ms ease, background-color 200ms ease, transform 100ms ease;

      .heart-icon-svg {
        transition: fill 0.5s ease-in-out, stroke 0.3s ease-in-out, transform 0.2s ease;

        &:active {
          transform: scale(1.2);
        }
      }

      &:hover {
        color: var(--brand-white);
        background-color: #222525;
      }

      &:active {
        transform: scale(.96);
      }
    }
  }
}